.container {
    display: flex;
    flex-direction: column; /* Images vertically align cheyyadam kosam */
    align-items: center; /* Center images */
    margin-top: 0px;
    margin-bottom: 30px;
    width: auto; /* Slightly increase container width */
}

.container img {
    width: 100%; /* Increase image size */
    height: auto; /* Maintain aspect ratio */
    
    border-radius: 10px; /* Optional: Rounded corners for the image */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow */
}

.remaining {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Equal spacing between images, including left and right */
    gap: 15px; /* Space between rows and columns */
    margin: 10px auto; /* Center the container */
    width: 95%; /* Slightly increase container width */
}

.remaining img {
    width: calc(33% - 10px); /* Three images per row */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
